{% extends 'layout.html' %}

{% block title %}: {{ product.name }}{% endblock %}

{% block main %}
    <div class="container">
        <!-- Product Details Section -->
        <div class="row">
            <!-- Product Image -->
            <div class="col-md-6 mb-4">
                <img alt="{{ product.name }}" class="img-fluid rounded shadow" src="{{ url_for('static', filename='products/' + product.image_file_name) }}">
            </div>
            <!-- Product Information -->
            <div class="col-md-6">
                <h1 class="display-5">{{ product.image_file_name.split('.')[0] }}</h1>
                <p class="lead" style="font-weight: 500;">Price: <span class="text-muted">${{ product.price }}</span></p>
                <!-- Purchase and Add to Cart Buttons -->
                <form action="/confirm_payment" class="mt-4" id="purchaseForm" method="POST">
                    <input name="product_name" type="hidden" value="{{ product.name }}">
                    <input name="current_url" type="hidden" value="/shop">
                    <div class="d-flex gap-3 mb-4">
                        <button class="btn btn-dark btn-lg" type="submit">Purchase Now</button>
                        <button class="btn btn-outline-dark btn-lg" onclick="addToCart('{{ product.id }}', '{{ product.amount }}')" type="button">Add to Cart</button>
                    </div>
                </form>
                <p class="mb-4">{{ product.description }}</p>
            </div>
        </div>
    </div>
{% endblock %}